@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: hasti;
        src: url('./fonts/Hasti-Heavy.woff');
    }
    @font-face {
        font-family: vazirMatn;
        src: url('./fonts/Vazirmatn-Regular.ttf');
    }
}
*, html {
    scroll-behavior: smooth !important;
}

html,body{
    overflow: hidden;
    height: 100vh;
    direction: ltr;
}
.parent{
    overflow-y: scroll;
    height: 100vh;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
.positionNavbar{
    direction: rtl;
    @apply fixed z-50 top-7 w-full flex justify-center items-center font-hasti px-[100px];
    @apply max-[900px]:px-[50px];
}
.navbar{
    @apply flex justify-between text-2xl text-[#ffffff] bg-[#FFFFFF17] border border-[#0000000D] backdrop-blur w-full p-12 rounded-[100px];
    @apply max-[900px]:text-xl max-[900px]:p-9;
}
.positionNavbarMobile{
    direction: rtl;
    @apply fixed z-50 bottom-7 w-full flex justify-center items-center font-hasti px-[10px];
}
.navbarMobile{
    @apply w-full flex items-center justify-between text-2xl text-[#ffffff] bg-[#0000001C] border border-[#0000000D] backdrop-blur px-5 py-3 rounded-[100px];
}
.navFingerprint{
    @apply absolute top-0 w-full flex items-start justify-center;
    @apply max-[750px]:relative max-[750px]:w-auto;
}
.navFileFingerprint{
    @apply w-12 ml-52 -mt-5;
    @apply max-[900px]:ml-32 max-[750px]:m-0;
}
.linkNav{
    @apply duration-75;
}
.activeLink{
    @apply text-highBrown;
}
.oneScreen{
    background-image: url('../public/bg-freez.png') , linear-gradient(#FF6200,#FD7F2C);
    @apply relative flex flex-col h-screen snap-start;
    direction: rtl;
}
.gridSystemOneScreen{
    @apply flex-1 grid grid-cols-7 grid-rows-[100px_1fr_1fr_1fr];
}
.containerMainContent{
    @apply relative flex flex-col grid-rows-subgrid row-span-3 col-span-5;
    @apply max-[1330px]:col-span-7 max-[1330px]:mx-[70px] max-[900px]:mx-[40px];
}
.titleHeading{
    @apply max-w-[1460px] flex-1 flex justify-evenly items-center font-hasti text-[100px];
    @apply min-[2020px]:mx-auto min-[2020px]:gap-52 max-[820px]:text-[80px];
}
.subTitle{
    @apply text-[40px] px-28 max-[820px]:text-[30px] max-[820px]:px-20;
}
.containerTwoIcon{
    @apply flex justify-between;
    @apply min-[2020px]:justify-around;
}
.spaceImageMain{
    @apply absolute h-full w-full flex justify-center items-center;
}
.Image{
    @apply backdrop-blur-sm border bg-black/10 border-[#ababab78] rounded-[70px] h-[550px] w-[430px] object-cover;
    @apply max-[900px]:w-[400px];
}
.arrowDown{
    @apply flex justify-center items-center py-2;
}
.arrowDown img{
    @apply w-10;
}
.twoScreen{
    background-image: url('../public/bg-freez.png') , linear-gradient(#FF8C49,#FE6F17);
    @apply overflow-hidden grid relative gap-x-5 grid-cols-[4fr_1fr] grid-rows-[100px_1fr_1fr_50px] h-screen snap-start;
    direction: rtl;
    @apply max-[750px]:gap-0 max-[750px]:block;
}
.prCommonTwoScreen{
    @apply min-[750px]:mr-[200px];
}
.aboutTitle{
    @apply flex items-center prCommonTwoScreen max-[750px]:p-5;
}
.fingerprint{
    @apply h-[280px] opacity-75 max-[600px]:h-[200px] max-[404px]:h-[190px] max-[380px]:h-[180px];
}
.nameAbout{
    @apply font-hasti text-[128px] text-highBrown -mr-14;
    @apply max-[750px]:text-[90px] max-[600px]:text-[80px] max-[500px]:text-[70px] max-[448px]:text-[60px] max-[404px]:text-[55px] max-[380px]:text-[50px];
}
.aboutText{
    @apply h-fit prCommonTwoScreen font-vazir text-[#060606] text-[28px] border border-white/10 bg-[#0000001C] rounded-[40px] py-2 px-5 backdrop-blur;
    @apply max-[750px]:mx-3;
}
.thingFrench{
    @apply font-hasti text-[#2C67F2];
}
.thirdScreen{
    background-image: url('../public/bg-freez.png') , linear-gradient(#FF6200,#FD7F2C);
    @apply relative flex flex-col h-screen pt-[120px] px-[150px] snap-start;
    direction: rtl;
}
.instagramLink{
    background-image: url('../public/InstagramGradient.jpeg');
    background-position: center;
    background-clip: text;
    -webkit-background-clip:text;
    color: #ffffff00;
}
.likeIcon {
    @apply w-[200px] h-[200px];
}
.connectMe{
    @apply text-highBrown font-hasti text-[120px] mt-24 -mr-16;
}
.socialMediaLinks{
    @apply flex flex-col flex-1 font-hasti items-center justify-center text-[4vw];
    @apply max-[750px]:flex-row max-[750px]:text-[35px] max-[408px]:text-[8vw];
}
.containerLinks{
    @apply flex justify-center items-center;
    @apply max-[750px]:flex-col;
}
.maxWidth{
    @apply max-w-[1500px];
}
.titleMobile{
    @apply text-center font-hasti text-[15vw];
    line-height: 22vw;
}
.spaceImageMainMobile{
    @apply h-full w-full flex justify-center items-center;
}
.containerMobileOnceScreen{
    @apply h-full grid grid-rows-[1fr_3fr_24vw_15vw];
}
.topIconMowjMobile{
    @apply w-24 mx-auto mt-5 -mb-10 max-[390px]:-mb-5 max-[390px]:mt-1;
}
.ImageMobile{
    @apply w-[450px] h-full object-cover rounded-[100px] border border-[#711906] max-[465px]:w-[350px] max-[390px]:w-[320px];
}
.signMowj{
    @apply max-[750px]:mr-auto max-[750px]:ml-9 max-[750px]:-mt-10 z-10 max-[750px]:relative max-[600px]:-mt-14 max-[750px]:w-[80px] max-[460px]:-mt-20;
}
.blob{
    @apply bg-[#0000001C] p-10 rounded-full border border-white/10 backdrop-blur;
}
.subtextMobile{
    @apply text-[8vw] flex font-hasti justify-center;
}
@media (max-width:1025px) {
    .positionNavbarMobile{
        @apply bottom-2;
    }
}
@media (max-width:750px) and (max-height:959px) {
    .containerMobileOnceScreen{
        @apply grid-rows-[2fr_4fr_100px];
    }
    .navbarMobile{
        @apply py-1;
    }
    .topIconMowjMobile{
        @apply w-20 pb-[10px] mt-0;
    }
}
@media (max-width:750px) and (max-height:789px) {
    .navbarMobile{
        @apply text-xl;
    }
    .navFileFingerprint{
        @apply w-10;
    }
}
@media (min-width:750px) {
    .gridSystemOneScreen{
        @apply grid-rows-[100px_1fr_1fr_1fr];
    }
}
@media (min-width:750px) and (max-height:833px) {
    .gridSystemOneScreen{
        @apply grid-rows-[150px_1fr_1fr_1fr];
    }
    .navbar{
        @apply p-10;
    }
}
@media (min-width:750px) and (max-height:747px) {
    .navbar{
        @apply p-8;
    }
}
@media (min-width:750px) and (max-height:735px) {
    .Image{
        @apply h-[510px];
    }
}
/* secondDcreen */
@media (max-width:1584px) and (min-width:750px){
    .prCommonTwoScreen{
        @apply min-[750px]:mr-[100px];
    }
}
@media (max-width:964px) and (min-width:750px){
    .fingerprint{
        @apply w-[200px];
    }
    .nameAbout{
        @apply text-[120px];
    }
}
@media (max-width:888px) and (min-width:750px){
    .fingerprint{
        @apply w-[180px];
    }
    .nameAbout{
        @apply text-[100px];
    }
    .aboutText{
        @apply text-[22px]
    }
}
/* width mobile start */
@media (max-width:500px){
    .aboutText{
        @apply text-[25px];
        line-height: 50px;
    }
    .signMowj{
        @apply -mt-20;
    }
}
@media (max-width:480px){
    .aboutText{
        @apply text-[22px];
        line-height: 45px;
    }
    .signMowj{
        @apply -mt-14;
    }
}
@media (max-width:404px){
    .aboutText{
        @apply text-[21px];
        line-height: 43px;
    }
}
@media (max-width:380px){
    .aboutText{
        @apply text-[21px];
        line-height: 40px;
    }
}
@media (max-width:364px){
    .aboutText{
        @apply text-[20px];
        line-height: 39px;
    }
}
/* second section width mobile end */
/* second section height desktop */
@media (min-width:750px) and (max-height:953px){
    .fingerprint{
        @apply h-[240px];
    }
}
@media (min-width:750px) and (max-height:877px){
    .fingerprint{
        @apply h-[200px];
    }
    .nameAbout{
        @apply text-[110px]
    }
    .aboutText{
        @apply text-[24px];
    }
}
@media (min-width:750px) and (max-height:799px){
    .fingerprint{
        @apply h-[190px];
    }
}
@media (min-width:750px) and (max-height:799px){
    .fingerprint{
        @apply h-[180px];
    }
    .nameAbout{
        @apply text-[80px]
    }
    .signMowj{
        @apply w-[150px];
    }
}
@media (min-width:750px) and (max-height:693px){
    .aboutText{
        @apply text-[22px]
    }
}
@media (min-width:750px) and (max-height:693px){
    .fingerprint{
        @apply h-[150px];
    }
    .nameAbout{
        @apply text-[70px]
    }
}
@media (min-width:750px) and (max-height:589px){
    .aboutText{
        @apply text-[20px];
    }
}
@media (min-width:750px) {
    .twoScreen{
        @apply min-h-[587px];
    }
}
/* second screen height mobile from 750 until 500 */
@media (max-width:750px) and (min-width:500px) and (max-height:975px) {
    .aboutText{
        @apply text-[24px];
    }
}
@media (max-width:750px) and (min-width:500px) and (max-height:867px) {
    .fingerprint{
        @apply h-[200px];
    }
    .blob{
        @apply px-8 py-7;
    }
    .socialMediaLinks{
        @apply text-[30px]
    }
}
@media (max-width:750px) and (min-width:500px) and (max-height:771px) {
    .aboutText{
        @apply text-[22px];
    }
}
@media (max-width:750px) and (min-width:500px) and (max-height:727px) {
    .socialMediaLinks{
        @apply text-[25px];
    }
}
@media (max-width:750px) and (min-width:500px) and (max-height:683px) {
    .nameAbout{
        @apply text-[80px];
    }
    .fingerprint{
        @apply h-[180px]
    }
    .aboutText{
        @apply text-[20px]
    }
}
@media (max-width:500px) and (max-height:1035px) {
    .aboutText{
        @apply text-[22px]
    }
}
@media (max-width:500px) and (max-height:945px) {
    .aboutText{
        line-height: 40px;
    }
    .signMowj{
        @apply -mt-10;
    }
}
@media (max-width:500px) and (max-height:879px) {
    .fingerprint{
        @apply h-[140px];
    }
    .aboutText{
        @apply text-[21px];
        line-height: 39px;
    }
}
@media (max-width:500px) and (max-height:815px) {
    .aboutText{
        @apply text-[20px];
    }
    .signMowj{
        @apply -mt-16
    }
    .blob{
        @apply px-8 py-7;
    }
}
@media (max-width:500px) and (max-height:729px) {
    .aboutText{
        line-height: 31px;
    }
    .thirdScreen{
        @apply p-0;
    }
}
@media (max-width:500px) and (max-height:683px) {
}
@media (max-width:500px) and (max-height:631px) {
    .fingerprint{
        @apply h-[130px];
    }
    .nameAbout{
        @apply text-[70px]
    }
}
@media (max-width:500px) and (max-height:631px) {

}
/* third screen */
@media (max-width:1276px) {
    .thirdScreen{
        @apply px-10;
    }
}
@media (max-width:750px) {
    .thirdScreen{
        @apply px-9 py-10;
    }
    .likeIcon{
        @apply h-[150px] w-[150px];
    }
    .connectMe{
        @apply text-[90px] -mb-10 -mr-16;
    }
}
@media (max-width:552px) {
    .thirdScreen{
        @apply px-3 py-10;
    }
    .connectMe{
        @apply text-[70px] mt-9 -mr-20;
    }
}
@media (max-width:412px) {
    .connectMe{
        @apply text-[15vw] mt-28 -mr-24;
    }
    .socialMediaLinks{
        @apply pb-[100px];
    }
}