@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: hasti;
        src: url('./fonts/Hasti-Heavy.woff');
    }
    @font-face {
        font-family: vazirMatn;
        src: url('./fonts/Vazirmatn-Regular.ttf');
    }
}
*, html {
    scroll-behavior: smooth !important;
}

html,body{
    overflow: hidden;
    height: 100vh;
    direction: rtl;
}
.parent{
    overflow-y: scroll;
    height: 100vh;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
.positionNavbar{
    @apply fixed z-50 top-7 w-full flex justify-center items-center font-hasti px-[100px];
    @apply max-[900px]:px-[50px];
}
.navbar{
    @apply flex justify-between text-2xl text-[#04336C] bg-[#FFFFFF17] border border-[#0000000D] backdrop-blur w-full p-12 rounded-[100px];
    @apply max-[900px]:text-xl max-[900px]:p-9;
}
.positionNavbarMobile{
    @apply fixed z-50 bottom-7 w-full flex justify-center items-center font-hasti px-[10px];
}
.navbarMobile{
    @apply w-full flex items-center justify-between text-2xl text-[#04336C] bg-[#FFFFFF17] border border-[#0000000D] backdrop-blur px-5 py-3 rounded-[100px];
}
.navFingerprint{
    @apply absolute top-0 w-full flex items-start justify-center;
    @apply max-[750px]:relative max-[750px]:w-auto;
}
.navFileFingerprint{
    @apply w-12 ml-52 -mt-5;
    @apply max-[900px]:ml-32 max-[750px]:m-0;
}
.linkNav{
    @apply duration-75;
}
.activeLink{
    @apply text-highBlue;
}
.oneScreen{
    background-image: url('../public/bgFreez.png') , linear-gradient(#62CFF4,#2C67F2);
    @apply relative flex flex-col h-screen snap-start;
}
.gridSystemOneScreen{
    @apply flex-1 grid grid-cols-7 grid-rows-[100px_1fr_1fr_1fr];
}
.containerMainContent{
    @apply relative flex flex-col grid-rows-subgrid row-span-3 col-span-5;
    @apply max-[1330px]:col-span-7 max-[1330px]:mx-[70px] max-[900px]:mx-[40px];
}
.titleHeading{
    @apply flex-1 mb-20 flex flex-col justify-end font-hasti text-[130px] mx-auto;
    line-height: 130px;
}
.containerTwoIcon{
    @apply flex justify-between;
}
.spaceImageMain{
    @apply absolute h-full w-full flex justify-center items-center;
}
.Image{
    @apply backdrop-blur border bg-black/10 border-[#ababab78] rounded-[100px] h-[550px] w-[430px] object-cover;
    @apply max-[900px]:w-[400px];
}
.arrowDown{
    @apply flex justify-center items-center py-2;
}
.arrowDown img{
    @apply w-10;
}
.twoScreen{
    background-image: url('../public/bgFreez.png') , linear-gradient(#2C67F2,#2FB8DA);
    @apply grid relative gap-x-5 grid-cols-[4fr_1fr] grid-rows-[100px_1fr_1fr_50px] h-screen snap-start;
}
.prCommonTwoScreen{
    @apply pr-[200px];
}
.aboutTitle{
    @apply flex items-center prCommonTwoScreen;
}
.fingerprint{
    @apply h-[280px] opacity-75;
}
.nameAbout{
    @apply font-hasti text-[128px] text-highBlue -mr-14;
}
.aboutText{
    @apply font-vazir text-[#04336C] text-[28px] prCommonTwoScreen;
}
.thingFrench{
    @apply font-hasti text-[#2C67F2];
}
.thirdScreen{
    background-image: url('../public/bgFreez.png') , linear-gradient(#2FB8DA,#1479F7);
    @apply relative flex flex-col h-screen pt-[120px] px-[150px] snap-start;
}
.instagramLink{
    background-image: url('../public/InstagramGradient.jpeg');
    background-position: center;
    background-clip: text;
    -webkit-background-clip:text;
    color: #ffffff00;
}
.likeIcon {
    @apply w-[200px] h-[200px];
}
.connectMe{
    @apply text-highBlue font-hasti text-[120px] mt-24 -mr-16;
}
.socialMediaLinks{
    @apply flex flex-col flex-1 font-hasti text-[50px];
}
.containerLinks{
    @apply flex-1 flex justify-around;
}
.maxWidth{
    @apply max-w-[1500px];
}
.titleMobile{
    @apply text-center font-hasti text-[140px] max-[465px]:text-[120px] max-[390px]:text-[100px];
    line-height: 150px;
}
.spaceImageMainMobile{
    @apply h-full w-full flex justify-center items-center;
}
.containerMobileOnceScreen{
    @apply h-full grid grid-rows-[2fr_4fr_150px];
}
.topIconMowjMobile{
    @apply w-24 mx-auto mt-5 -mb-10 max-[390px]:-mb-5 max-[390px]:mt-1;
}
.ImageMobile{
    @apply w-[450px] h-[530px] object-cover rounded-[100px] border border-[#0A66C2] max-[465px]:w-[350px] max-[390px]:w-[320px];
}
@media (max-width:465px) {
    .titleMobile{
        line-height: 130px;
    }
}
@media (max-width:390px) {
    .titleMobile{
        line-height: 110px;
    }
}
@media (max-width:750px) and (max-height:993px) {
    .ImageMobile{
        @apply h-[500px];
    }
}
@media (max-width:1025px) {
    .positionNavbarMobile{
        @apply bottom-2;
    }
}
@media (max-width:750px) and (max-height:959px) {
    .containerMobileOnceScreen{
        @apply grid-rows-[2fr_4fr_100px];
    }
    .ImageMobile{
        @apply h-[440px];
    }
    .navbarMobile{
        @apply py-1;
    }
    .topIconMowjMobile{
        @apply w-20 mt-1;
    }
}
@media (max-width:750px) and (max-height:869px) {
    .titleMobile{
        @apply text-[100px];
        line-height: 110px;
    }
    .ImageMobile{
        @apply h-[460px];
    }
}
@media (max-width:750px) and (max-height:833px) {
    .ImageMobile{
        @apply h-[440px];
    }
}
@media (max-width:750px) and (max-height:813px) {
    .titleMobile{
        line-height: 105px;
    }
    .ImageMobile{
        @apply h-[430px];
    }

}
@media (max-width:750px) and (max-height:789px) {
    .titleMobile{
        @apply text-[90px];
        line-height: 90px;
    }
    .ImageMobile{
        @apply h-[410px];
    }
    .navbarMobile{
        @apply text-xl;
    }
    .navFileFingerprint{
        @apply w-10;
    }
}
@media (max-width:750px) and (max-height:789px) {
    .ImageMobile{
        @apply h-[390px];
    }
}
@media (min-width:750px) {
    .gridSystemOneScreen{
        @apply grid-rows-[100px_1fr_1fr_1fr];
    }
}
@media (min-width:750px) and (max-height:833px) {
    .gridSystemOneScreen{
        @apply grid-rows-[150px_1fr_1fr_1fr];
    }
    .titleHeading{
        @apply mb-0;
    }
    .navbar{
        @apply p-10;
    }
}
@media (min-width:750px) and (max-height:747px) {
    .navbar{
        @apply p-8;
    }
}
@media (min-width:750px) and (max-height:735px) {
    .Image{
        @apply h-[510px];
    }
}
@media (min-width:750px) and (min-height:1041px) {
    .titleHeading{
        @apply mt-[300px] justify-center;
    }
}
